

{% if page.lang-id %}

  {% if page.layout == "post" %}
    {% assign translations = site.posts | where_exp: "p", "p.lang-id == page.lang-id" | where_exp: "p", "p.lang != page.lang" %}
  {% else %}
    {% assign translations = site.pages | where_exp: "p", "p.lang-id == page.lang-id" | where_exp: "p",  "p.lang != page.lang" %}
  {% endif %}

  {% if translations.size > 0 %}
    <div id="translation-wrapper">
      <a id="translation" href = "{{ translations[0].url }}">
        {% if page.lang == "it" %}
          Read in English
        {% elsif page.lang == "en" %}
          Leggi in italiano
        {% endif %}
      </a>
    </div>
  {% endif %}

{% endif %}

