<nav>
{% for lang in site.data.navigation %}
  {% if lang[0] == page.lang %}
    {% for item in lang[1] %}
      <a href="{{ item.link }}" 
         class="nav-link nav-link-left
                 {% if page.url == item.link or
                    (page.url == "/" and item.link == site.data.navigation.root) %}
                   nav-link-active 
                 {% else %}
                   nav-link-inactive
                 {% endif %}">
        {{ item.name }}
    </a>
    {% endfor %}
  {% endif %}
{% endfor %}

{% for lang in site.data.languages %}
<a href="/{{ lang.code }}" class="nav-link nav-lang" title="{{ lang.name | capitalize}}">{{ lang.display }}</a>
{% endfor %}

</nav>
