$light-yellow: rgb(240, 239, 209);
$tepid-black: rgb(25, 25, 25);
$dark-yellow: rgb(207, 186, 88);
$red-orange: rgb(191, 50, 17);


$background-color: $light-yellow;
$navbar-color: $tepid-black;
$navbar-text-color: $dark-yellow;


body {
  background-color: $background-color;
  margin: 0;
  font-family: helvetica, arial, sans-serif;
  width:100%
}

nav {
  background-color: $navbar-color;
  margin: 0;
  width: 100%;
  height:50px;
  position:fixed;
  top:0;
}

a.nav-link {
  text-align: center;
  text-decoration: none;
  height: 18px;
  color: $navbar-text-color;
}

a.nav-link-left {
  padding: 16px 14px;
  font-size: 1.2em;
  float: left;
}

a.nav-link-inactive {
  color: $navbar-text-color;
}

a.nav-link-active {
  font-weight: bolder;
  font-style: italic;
}


a.nav-link:hover {
  background-color: $navbar-text-color;
  color: $navbar-color;
}

a.nav-lang {
  padding: 16px 10px;
  font-size: 0.8em;
  float: right;
}

#translation-wrapper {
  width: 100%;
  overflow: auto; // adjusts height to floating child
}

#translation {
  float: right;
  background-color: $red-orange;
  padding: 8px 10px;
  display: inline-block;
  margin: 10px 0px;
  border-radius: 20px;
  color: $background-color;
  text-decoration: none;
  font-size: 0.8em;
}

#translation:hover {
  background-color: $tepid-black;
}

strong {
  color: $red-orange;
}

a {
  color: $red-orange;
}
