<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="icon" href="/assets/sunicon.png">
    {% comment %}
    <!--https://commons.wikimedia.org/wiki/File:Sunicon.png-->
    {% endcomment %}
    {% if page.use-katex %}
            <!-- For standalone mode -->
            <!--<link rel="stylesheet" href="/assets/css/katex/katex.min.css">-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.2/dist/katex.min.css" integrity="sha384-bYdxxUwYipFNohQlHt0bjN/LCpueqWz13HufFEV1SUatKs1cm4L6fFgCi1jT643X" crossorigin="anonymous">
    {% endif %}
  </head>
  <body>
    {% include navigation.html %}
    <div id="content">
      <h1>{{ page.title }}</h1>
      {% include lang.html %}
      {{ content }}
      {% if page.collection == "articoli_2017" %}
        {% include iframe_article.html %}
      {% endif %}
    </div>

    {% if page.collection == "articoli_2017" %}
        <iframe src="{{ page.iframe-url }}" title="{{ page.title }}" width="100%" height="600">
    {% endif %}

  </body>
</html>
